.top-actions-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
}

.info-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 16px;

  padding: 24px;
  background: #cbbee1;
  border-radius: 16px;

  width: fit-content;
}

#topProductsChart {
  width: 360px !important;
}

#generalProfitChart {
  width: 600px !important;
  height: 300px !important;
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
