body {
  background: url(./assets/img/authentication-background.png);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.container {
  width: 458px;
  background: #f8f4ff;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 32px 47px;
}

div.container span {
  font-size: 12px;
  margin-top: 32px;
}

div.container span a {
  color: inherit;
  font-weight: 700;
  font-size: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.btn-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-group .btn:first-child {
  margin-top: 48px;
}

.btn-group .btn:last-child {
  margin-top: 32px;
}
