.top-actions-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 32px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-top: auto;
}

.button-group button {
  margin-top: 40px;
}

#descriptionOrderIcon {
  visibility: visible;
}

#quantityOrderIcon {
  visibility: hidden;
}

#priceOrderIcon {
  visibility: hidden;
}
