.top-actions-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
}

.add-equipament-form-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-top: auto;
}

.add-equipament-form-button-group button {
  margin-top: 40px;
}
